[Unit]
Description=Lerd Auto-start on Login
After=default.target network-online.target lerd-dns.service graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/lerd start
RemainAfterExit=yes
Nice=-10

[Install]
WantedBy=default.target
