[Unit]
Description=Lerd MinIO
After=network.target

[Container]
Image=minio/minio:latest
ContainerName=lerd-minio
Network=lerd
PublishPort=9000:9000
PublishPort=9001:9001
Volume=%h/.local/share/lerd/data/minio:/data
Environment=MINIO_ROOT_USER=lerd
Environment=MINIO_ROOT_PASSWORD=lerdpassword
Exec=server /data --console-address :9001

[Service]
Restart=always

[Install]
WantedBy=default.target
