[Unit]
Description=Lerd Redis
After=network.target

[Container]
Image=redis:7-alpine
ContainerName=lerd-redis
Network=lerd
PublishPort=6379:6379
Volume=%h/.local/share/lerd/data/redis:/data

[Service]
Restart=always

[Install]
WantedBy=default.target
