[Unit]
Description=Lerd PHP {{.Version}} FPM
After=network.target

[Container]
Image=php:{{.Version}}-fpm-alpine
ContainerName=lerd-php{{.VersionShort}}-fpm
Network=lerd
Volume={{.ProjectsDir}}:{{.ProjectsDir}}:ro

[Service]
Restart=always

[Install]
WantedBy=default.target
