[Unit]
Description=Lerd PostgreSQL
After=network.target

[Container]
Image=postgres:16-alpine
ContainerName=lerd-postgres
Network=lerd
PublishPort=5432:5432
Volume=%h/.local/share/lerd/data/postgres:/var/lib/postgresql/data
Environment=POSTGRES_PASSWORD=lerd
Environment=POSTGRES_DB=lerd

[Service]
Restart=always

[Install]
WantedBy=default.target
