[Unit]
Description=Lerd Project Watcher
After=default.target

[Service]
ExecStart=%h/.local/bin/lerd watch
Restart=on-failure

[Install]
WantedBy=default.target
