[Unit]
Description=Lerd PHP-FPM Init
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user start lerd-php84-fpm
RemainAfterExit=yes

[Install]
WantedBy=default.target
